#wrapper {
    width: 200px;
    height: 200px;
    background: linear-gradient(#e66465, #9198e5);
    border-radius: 50px;
}

.test {
    width: 50px;
    height: 50px;
}

#red {
    background: red;
}

#yellow {
    background: yellow;
    position: absolute;
    width: 100px;
    top: 50px;
    left: 150px;
}

#yellow:hover {
    background: green;
}

#yellow:active {
    background: red;
    border-radius: 50%;
    width: 500px;
}

#blue {
    background: blue;
}
