#wrapper {
    width: 500px;
    height: 500px;
    background: green;
}

.test {
    width: 50px;
    height: 50px;
}

#red {
    background: red;
}

#yellow {
    background: yellow;
    position: absolute;
    top: 50px;
    left: 150px;
}

#blue {
    background: blue;
}