* {
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 10px;
}

#wrapper {
    top: 50px;
    left: 50px;
    width: 400px;
    height: 400px;
    background: green;
    overflow: scroll;
}

#overflowing_1 {
    position: absolute;
    top: 200px;
    left: 40px;
    width: 40px;
    height: 40px;
    background: red;
}

#overflowing_2 {
    position: absolute;
    top: 290px;
    left: 40px;
    width: 40px;
    height: 40px;
    background: blue;
    overflow: visible;
}

#overflowing_3 {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 100px;
    left: 100px;
    background: yellow;
}

#overflowing_3:hover {
    background-color: red;
}