.__azul-native-button {
    display: flex;
    box-sizing: border-box;
    font-size: 14.66px;
    border: 1px solid rgb(172, 172, 172);
    background: linear-gradient(to bottom, rgb(239, 239, 239), rgb(229, 229, 229));
    text-align: center;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    flex-grow: 1;
    font-family: sans-serif;
}

.__azul-native-button:hover {
    background: linear-gradient(to bottom, rgb(234, 243, 252), rgb(126, 180, 234));
    border: 1px solid rgb(126, 180, 234);
}

.__azul-native-button:active {
    background: linear-gradient(to bottom, rgb(217, 235, 252), rgb(86, 157, 229));
    border: 1px solid rgb(86, 157, 229);
}

.__azul-native-button:focus {
    border: 1px solid rgb(51, 153, 255);
}

.__azul-native-label {
    display: flex;
    box-sizing: border-box;
    font-size: 14.66px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    font-family: sans-serif;
}

.__azul-native-input-text {
    display: flex;
    box-sizing: border-box;
    font-size: 14.66px;
    flex-grow: 1;
    background-color: white;
    border: 1px solid #9b9b9b;
    padding: 1px;
    overflow: hidden;
    text-align: left;
    flex-direction: row;
    align-content: flex-end;
    justify-content: flex-end;
    font-family: sans-serif;
}

.__azul-native-input-text:hover {
    border: 1px solid #4286f4;
}

.__azul-native-input-text-label {

}