* {
    font-size: 16px;
    font-family: sans-serif;
    color: #4c4c4c;
    display: flex;
    flex-grow: 1;
}

.__azul-native-button {
    border: 1px solid #b7b7b7;
    border-radius: 4px;
    box-shadow: 0px 0px 3px #c5c5c5ad;
    background: linear-gradient(#fcfcfc, #efefef);
    text-align: center;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.__azul-native-label {
    flex-grow: 1;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

.__azul-native-input-text {
    flex-grow: 1;
    background-color: white;
    border: 1px solid #9b9b9b;
    padding: 1px;
    overflow: hidden;
    text-align: left;
    flex-direction: row;
    align-content: flex-end;
    justify-content: flex-end;
    box-sizing: border-box;
}

.__azul-native-input-text:hover {
    border: 1px solid #4286f4;
}

.__azul-native-input-text-label {

}
