GEMINI_API_KEY.txt
target/
reftest_output/
output/
/api/
vendor/
**/*.rs.bk
*.pdf
*.bin
*.json.gz
*.sublime-project
.vscode/*
.vs/*
*.dSYM
*.pyc
crash.log
azul.h
azul.hpp
*.log
.idea/*
out.txt
output.log
scrolling_test
*.dll
*.so
*.out
*.o
test_cpurender_output.png
*.exe
/api/c/main/
.DS_Store
.xcodeproject
LICENSE-WINDOWS.json
LICENSE-LINUX.json
LICENSE-MAC.json
LICENSE-WINDOWS.txt
LICENSE-LINUX.txt
LICENSE-MAC.txt
Cargo.lock
*.lock
commits.txt
out-italic.txt
scripts/gemini_perf_prompt*.md
coverage/
profraw/
coverage.txt
coverage.json
*.profraw
