[workspace]
resolver = "2"
members = [
    "examples/rust", # Rust examples - depends on azul-dll
    "examples/rust-dynamic", # Rust examples with dynamic linking against libazul_dll.dylib
    "dll", # dll module with auto-gen C functions (optional pyO3 support), depends on layout, core and css
    "doc", # doc / test generator, depends on layout, core and css
    "layout", # layout depends on core + css
    "core", # core depends on css
    "css", # CSS parser, does not depend on anything else
    # "workbench", # azul workbench, HTML to Rust compiler
]

[workspace.dependencies]
glean = "60.5.0"
gleam = "0.15.1"

[profile.release]
opt-level = 3
strip = true      # Automatically strip symbols from the binary.
lto = true        # Enable Link Time Optimization (removes dead code).
codegen-units = 1 # Reduces parallel builds but allows better optimization.
panic = "abort"   # Removes stack unwinding code (drastic size reduction).
