[workspace]
resolver = "2"
members = [
    "api/rust",
    "dll",
    # "workbench",
    # "tests",
    "doc",
    "css",
    "core",
    "layout",
    "examples/rust",
    "examples/rust/ios",
    "reftest"
]
