* {
    font-size: 14px;
    text-align: left;
}

#align-default {
    flex-direction: column;
}

#hebrew {
    font-size: 35px;
    background-color: grey;
    color: white;
    line-height: 3.8;
    word-spacing: 50px;
    height: 50px;
}

#lorem_ipsum {

}

#devangari {
    /* font-family: MingLiU, NSimSun; -- panics for some reason in dwrote */
}