#parent-wrapper {
    background-color: red;
    flex-direction: row;
}

#child-1 {
    background-color: green;
    max-width: 200px;
}

#child-2 {
    width: 1000px;
    height: 1000px;
}

* {
    font-size: 14.66px;
    font-family: sans-serif;
    color: #000;
    background-color: #f0f0f0; /* Windows Background color, rgb(240, 240, 240) */
}