* {
    font-size: 20px;
}

#hebrew {
    font-size: 50px;
    height: 200px;
    background-color: grey;
    color: white;
    text-align: left;
    padding: 50px;
    line-height: 2.8;
    letter-spacing: 20px;
}

#lorem_ipsum {

}

#devangari {
    /* font-family: MingLiU, NSimSun; -- panics for some reason in dwrote */
}