#wrapper {
    background: linear-gradient(15deg, red 0%, blue 100%);
    flex-direction: row;
    justify-content: flex-start;
}

#red {
    background-color: #BF0C2B;
    color: white;
    width: 400px;
    font-size: 39px;
    font-family: Arial;
    text-align: right;
    flex-direction: column;
    align-items: flex-end;
}

#sub-wrapper {
    flex-direction: column;
    width: 200px;
    box-shadow: 0px 0px 50px black;
    position: relative;
    top: 40px;
    left: 20px;
}

#yellow:hover {
    background-color: yellow;
}

#yellow {
    background-color: #F5900E;
    height: 70px;
    flex-direction: column-reverse;
    align-items: flex-end;
    box-shadow: 0px 0px 50px black;
    position: absolute;
    right: -25px;
    top: 0px;
    width: 50px;
    height: 50px;
}

#grey {
    background-color: #44ccee33;
}

#orange-1 {
    background-color: #F14C13;
    box-shadow: 2px 2px 10px black;
}

#orange-2 {
    background-color: green;
    box-shadow: 2px 2px 10px black;
    width: 10px;
    height: 10px;
}

#cat {
    max-width: 400px;
    box-shadow-bottom: 0px 0px 50px black inset;
    box-shadow-top: 0px 0px 50px black inset;
}