#wrapper {
    background: linear-gradient(300deg, red 0%, blue 100%);
    flex-direction: row;
}

#red {
    background-color: #BF0C2B;
    color: white;
    font-size: 12px;
    font-family: sans-serif;
    width: 200px;
}

#sub-wrapper {
    flex-direction: column-reverse;
    width: 400px;
    box-shadow: 0px 0px 50px black;
}

#yellow {
    background-color: #F5900E;
    height: 70px;
    flex-direction: row-reverse;
    box-shadow: 0px 0px 50px black;
}

#grey {
    background-color: transparent;
}

#below-yellow {
    background-color: #F14C13;
    box-shadow: 2px 2px 10px black;
    width: 50px;
}