.__azul-native-table-container {
    flex-direction: row;
}

.__azul-native-table-column-container {
    flex-direction: row;
}

.__azul-native-table-column {
    flex-direction: column;
    min-width: 50px;
}

.__azul-native-table-row-number-wrapper {
    flex-direction: column;
    width: 30px;
}

.__azul-native-table-column-name {
    height: 20px;
}

.__azul-native-table-rows {
    flex-direction: column;
}

.__azul-native-table-cell {
    border: 1px solid grey;
    height: 10px;
}