.__azul-native-table-container {
    flex-direction: row;
}

.__azul-native-table-column-container {
    flex-direction: row;
}

.__azul-native-table-column {
    flex-direction: column;
    min-width: 100px;
}

.__azul-native-table-row-number-wrapper {
    flex-direction: column;
    max-width: 30px;
}

.__azul-native-table-column-name {
    height: 20px;
}

.__azul-native-table-top-left-rect {
    height: 20px;
    background-color: #407c40;
}

.__azul-native-table-cell {
    border: 0.5px solid light-grey;
    min-height: 20px;
    font-family: sans-serif;
    color: black;
    text-align: left;
    font-size: 16px;
    align-items: center;
}

.__azul-native-table-row {
    min-height: 20px;
    font-size: 14px;
    border-top: 0.5px solid #eee;
    overflow: hidden;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.__azul-native-table-column-name {
    font-family: sans-serif;
    color: white;
    font-size: 14px;
    background-color: #407c40;
    flex-direction: row;
    align-items: center;
    border-left: 0.6px solid white;
    background: linear-gradient(135deg, #cb60b3 0%,#c146a1 50%,#a80077 51%,#db36a4 100%);
    box-shadow-bottom: 0px 0px 5px black;
}

.__azul-native-table-row-numbers {
    font-family: sans-serif;
    color: white;
    background-color: #407c40;
    flex-direction: column;
    box-shadow-right: 0px 0px 5px black;
}