#wrapper_1 {
    flex-direction: column;
    background: linear-gradient(135deg, #ff512f, #f09819);
}

#input_field {
    background-color: white;
    height: 50px;
    box-shadow: 0px 0px 3px grey inset;
    position: absolute;
    top: 40px;
    left: 50px;
    width: 800px;
}

#label {
    background-color: transparent;
    font-size: 30px;
    font-family: sans-serif;
    color: black;
    text-align: left;
    padding: 0px 10px;
}