#wrapper {
    background-color: salmon;
    background: linear-gradient(135deg, blue 0%, salmon 100%);
    flex-direction: row;
}

#red {
    background-color: red;
    color: white;
    font-size: 12px;
    font-family: sans-serif;
    width: 200px;
}

#sub-wrapper {
    flex-direction: column-reverse;
    width: 400px;
    box-shadow: 0px 0px 50px black;
}

#yellow {
    background-color: yellow;
    height: 70px;
    border: 2px dashed black;
    flex-direction: row-reverse;
    box-shadow: 0px 0px 50px black;
}

#grey {
    background-color: transparent;
}

#below-yellow {
    background-color: dark-grey;
    box-shadow: 0px 0px 50px black;
    width: 50px;
}