.__azul-native-button {
    background-color: #fcfcfc;
    color: #000000;
    border: 1px solid #b7b7b7;
    border-radius: 4px;
    /*box-shadow: 0px 0px 3px #c5c5c5ad;*/
    box-shadow: 0px 0px 3px red;
    background: linear-gradient(#fcfcfc, #efefef);
    width: 200px;
    height: 200px;
    min-height: 400px;
    min-width: 400px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

* {
    font-size: 15px;
    font-family: "Webly Sleeky UI", sans-serif;
    background: image("Cat01");
}