div#main {
	background-color: blue;
	border-radius: 15px 50px 30px 5px;
	border: 5px solid #e74c3c;
    box-shadow: 0px 0px 10px #111;
    /* TODO: currently the colors are reversed: should be "top to bottom", but is: "bottom to top"*/
    /* TODO: rotations don't work */
    background: linear-gradient(yellow, red, green);
}