[package]
name = "azul-dll"
version = "0.0.5"
authors = ["Felix Schütt <felix.schuett@maps4print.com>"]
license = "MPL-2.0"
description = "C-API of Azul GUI"
homepage = "https://azul.rs/"
keywords = ["gui", "user-interface", "svg", "graphics", "css" ]
categories = ["gui"]
repository = "https://github.com/maps4print/azul"
edition = "2021"
autoexamples = false
build = "build.rs"

[lib]
crate-type = ["cdylib", "staticlib", "rlib"]

[dependencies]
azul-core = { path = "../core", version = "0.0.5", default-features = false }
azul-css = { path = "../css", version = "0.0.5", default-features = false, optional = true }
azul-layout = { path = "../layout", version = "0.0.5", default-features = false, features = ["font_loading", "text_layout", "svg", "xml"], optional = true }
pyo3 = { version = "0.27.1", default-features = false, features = ["abi3", "multiple-pymethods", "extension-module", "macros", "auto-initialize"], optional = true }
log  = { version = "0.4.17",  default-features = false, optional = true }
pyo3-log = { version = "0.13.2", default-features = false, optional = true }
tfd         = { version = "0.1.0",  default-features = false, optional = true }
clipboard2              = { version = "0.1.1",  default-features = false, optional = true }
raw-window-handle       = { version = "0.6.2", default-features = false, optional = true }
fern                    = { version = "0.7.1",  default-features = false, optional = true }
backtrace               = { version = "0.3.66", optional = true }
rust-fontconfig         = { version = "1.0.3", default-features = false, features = ["std", "parsing"], optional = true }
strfmt                  = { version = "0.2.5", default-features = false, optional = true }
libm                    = { version = "0.2.2", default-features = false, optional = true }
gl-context-loader       = { version ="0.1.8", default-features = false, optional = true }
webrender               = { path = "../webrender/core", default-features = false, optional = true }
once_cell = { version = "1.17.1", optional = true }
bitflags = { version = "2.8.0", optional = true }
cfg-if = "1.0"
regex = { version = "1", optional = true }
serde = { version = "1.0", features = ["derive"], optional = true }
serde_json = { version = "1.0", optional = true }
accesskit = { version = "0.16", default-features = false, optional = true }

[target.'cfg(target_os = "linux")'.dependencies]
libc = "0.2"
dbus = { version = "0.9", optional = true }
accesskit_unix = { version = "0.12", optional = true }

[target.'cfg(any(target_os = "ios"))'.dependencies]
objc = "0.2"
objc-foundation = "0.1"
objc_id = "0.1"

[target.'cfg(target_os = "windows")'.dependencies]
winapi = { version = "0.3.9", default-features = false, features = [
    "windowsx", 
    "libloaderapi", 
    "errhandlingapi", 
    "winuser", 
    "uxtheme", 
    "dwmapi", 
    "wingdi", 
    "commdlg"
] }
accesskit_windows = { version = "0.23", optional = true }

[target.'cfg(target_os = "macos")'.dependencies]
cgl = "0.3.2"
dispatch2 = { version = "0.3.0", default-features = false, features = ["std", "objc2"] }
objc2 = "0.6.0"
block2 = "0.6.0"
accesskit_macos = { version = "0.18", optional = true }
objc2-core-foundation = { version = "0.3.0", default-features = true, features = [
    "std",
    "CFBase",
    "CFString",
    "CFBundle",
] }
objc2-foundation = { version = "0.3.0", default-features = true, features = [
    "std",
    "NSArray",
    "NSThread",
] }
objc2-app-kit = { version = "0.3.0", default-features = true, features = [
    "std",
    "objc2-core-foundation",
    "NSApplication",
    "NSResponder",
    "NSView",
    "NSWindow",
    "NSOpenGL",
    "NSOpenGLView",
] }

[features]
default = ["std", "desktop", "logging", "css_parser", "font_loading", "text_layout", "svg", "xml", "all_img_formats", "link-static", "accessibility"]
# these are the features that currently HAVE to be present
# removing any of these features will lead to compile error
# this will be fixed in the future
minimal = ["std", "css_parser", "font_loading", "text_layout"]
std = ["azul-core/std", "azul-layout/std"]
logging = ["log"]
use_fern_logger = ["logging"]
use_pyo3_logger = ["pyo3-log", "logging"]
css_parser = []
all_img_formats = ["ico", "tga", "hdr", "jpeg", "webp", "pnm", "gif", "png", "tiff", "bmp"]
accessibility = ["accesskit", "azul-layout/accessibility", "accesskit_windows", "accesskit_macos", "accesskit_unix"]
desktop = ["std", "tfd", "azul-css", "azul-layout", "font_loading", "text_layout", "clipboard2", "raw-window-handle", "backtrace", "rust-fontconfig", "strfmt", "libm", "gl-context-loader", "webrender", "once_cell", "bitflags", "regex", "serde", "serde_json"]
gif = ["azul-layout", "azul-layout/gif"]
jpeg = ["azul-layout", "azul-layout/jpeg"]
png = ["azul-layout", "azul-layout/png"]
tiff = ["azul-layout", "azul-layout/tiff"]
bmp = ["azul-layout", "azul-layout/bmp"]
ico = ["azul-layout", "azul-layout/ico"]
tga = ["azul-layout", "azul-layout/tga"]
hdr = ["azul-layout", "azul-layout/hdr"]
webp = ["azul-layout", "azul-layout/webp"]
pnm = ["azul-layout", "azul-layout/pnm"]
svg = ["azul-layout", "azul-layout/svg"]
xml = ["azul-layout", "azul-layout/xml"]
font_loading = ["azul-layout", "azul-layout/font_loading"]
text_layout = ["azul-layout", "azul-layout/text_layout"]
gnome-menus = ["dbus"]
cdylib = []
rlib = []
staticlib = []
link-static = ["rlib"]
link-dynamic = ["cdylib", "staticlib"]

# Predefined target configurations
desktop-cdylib = ["desktop", "cdylib", "all_img_formats", "svg", "xml"]
desktop-staticlib = ["desktop", "staticlib", "all_img_formats", "svg", "xml"]
rust-static = ["desktop", "rlib", "use_fern_logger"]
python-extension = ["desktop", "cdylib", "pyo3", "use_pyo3_logger"]

[[bin]]
name = "test_scrolling"
path = "examples/test_scrolling.rs"
required-features = ["desktop"]

[[bin]]
name = "test_display_list"
path = "examples/test_display_list.rs"
required-features = ["desktop"]

[[bin]]
name = "test_cpurender"
path = "examples/test_cpurender.rs"
required-features = ["desktop"]

[[bin]]
name = "test_rectangles"
path = "examples/test_rectangles.rs"
required-features = ["desktop"]

[[bin]]
name = "menu_rendering_demo"
path = "examples/menu_rendering_demo.rs"
required-features = ["desktop"]

[package.metadata.deb]
maintainer = "Felix Schütt <felix.schuett@maps4print.com>"
extended-description = """
    AZUL GUI Toolkit (https://azul.rs).
    Cross-platform GUI toolkit written in Rust
    built using the WebRender rendering engine
"""
depends = "$auto"
section = "utility"
priority = "optional"
assets = [
    ["target/release/libazul.so", "usr/lib/", "755"]
]

[package.metadata.docs.rs]
no-default-features = true
features = [
    "std", "logging", "css_parser", "image_loading", "ico", "tga",
    "hdr", "jpeg", "webp", "pnm", "font_loading",
    "text_layout", "svg", "xml", "gif", "jpeg", "png", "tiff", "bmp",
    "rlib", "use_fern_logger"
]
# rustdoc-args = ["--cfg", "docsrs"]